<div class="hero-unit">
	
				<h1>Welcome to Meals Database</h1>
				<br>
				<br>
				
				<div class="btn btn-large btn-inverse"
				
				
				<%= link_to ""%>		
				
				<%= link_to "Get Started", controller: "meals", :class => "btn" %>
				
				</div>
		
			
		</div>
			
			
	