<!DOCTYPE html>
<html>
<head>
  <title>MealsProject</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container">
	<div class="row">
		<div class="span9"><%= yield %></div>
		<div class="span3">
			<br><br><br>
			<h2> About </h2>
			<p> Meals Database has been put together as a learning project and is very much work in progress. </p>
		</div>
	</div>
</div>

</body>
</html>
